<!doctype html>
<html>
<head>
    <meta charset= 'UTF-8'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Newz</title>

    <div class="nav-bar">
        <label>
            <img id="logo" src="/static/img/newz1.png">
        </label>       
            <ul class="menu-content">
                <li><a href="newt.html">New Technologies</a></li>
                <li><a href="newhu.html">New Humanities </a></li>
                <li><a href="newhe.html">New Health</a></li>                        
            </ul>
    </div>
</head>
<body>
    {% block conteudo %}
    
    {% endblock %}

    <h2>Bem vindos a newz</h2>    
    
    <h3>Nossa missão</h3>

    <p>publicar trabalhos científicos com celeridade, rigor científico e qualidade 
        de editoração. E a visão é o reconhecimento da empresa como uma referência nacional em 
        qualidade acadêmica para a divulgação científica.</p>



    <footer class="footer">

        <div class="image"> 

            <div class="container">

                <div class="rodape">   

                    <h6>Todos os direitos reservados a Newz</h6> 

                </div>
            </div>
        </div>             
    </footer>
</body>
</html>