{% extends  "base.html"%}
{% block content %}

<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1>Nossos Serviços</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <a href="/info.html">
                    <div class="our-services settings">
                        <div class="icon"> <i class="fas fa-book-reader"></i></div>
                        <h4>Quem Somos</h4>
                        <p>Venha conhecer um pouco mais sobre nossa história .</p>
                    </div>

                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/">
                    <div class="our-services speedup">
                        <div class="icon"> <i class="fas fa-podcast"></i> </div>
                        <h4>PodCast</h4>
                        <p>PodCast de livros de nossa editora e diversas outras .</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/">
                    <div class="our-services privacy">
                        <div class="icon"> <i class="fas fa-lightbulb"></i> </div>
                        <h4>Ideias</h4>
                        <p>Ideias para você criar seu primeiro artigo ou TCC .</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <a href="/">
                    <div class="our-services backups">
                        <div class="icon"> <i class="fas fa-chart-bar"></i> </div>
                        <h4>Parcerias</h4>
                        <p>Nossos Parceiros desse projeto .</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/">
                    <div class="our-services ssl">
                        <div class="icon"> <i class="fas fa-edit"></i> </div>
                        <h4>Artigos</h4>
                        <p>Construa seu primeiro artigo com a nossa editora .</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/artigos.html">
                    <div class="our-services database">
                        <div class="icon"> <i class="fas fa-atom"></i> </div>
                        <h4>Artigos Científicos</h4>
                        <p>Conheça nossos principais Artigos Científicos .</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}