*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: rgb(2, 2, 2); */
    font-family: 'Roboto', sans-serif;
}

.nav-bar{ 
    background-color: black;
    height: 80px;
    display: flex;
}

.menu-content li{
    list-style: none;
    display: inline-block;
    margin-top: 13px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 4px;
}

.menu-content li a{
    color: azure;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.menu-content li:hover {
    background-color: white;
    color: black;
}
.menu-content li a:hover {
    color: black;
}

#logo{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
    size: 140px;
    width: 150px;
}
.rodape{
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    bottom: 0px;

    
}