*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav-bar{ 
    background-color: black;
    height: 80px;
    display: flex;
}

.menu-content li{
    list-style: none;
    display: inline-block;
    margin-top: 13px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 4px;
}

.menu-content li a{
    color: azure;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.menu-content li:hover {
    background-color: white;
    color: black;
}
.menu-content li a:hover {
    color: black;
}

#logo{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
    size: 140px;
    width: 150px;
}
.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #212529;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center;
    font-size: 50px;
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff
}

.speedup:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.privacy:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.backups:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.ssl:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
}

.database:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}

.flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .pl-3,
 .px-3 {
     padding-left: 1rem !important
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 0
 }

 .card .card-title {
     color: #000000;
     margin-bottom: 0.625rem;
     text-transform: capitalize;
     font-size: 0.875rem;
     font-weight: 500
 }

 .card .card-description {
     margin-bottom: .875rem;
     font-weight: 400;
     color: #76838f
 }

 .accordion .card:first-of-type {
     border-bottom: 0;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0
 }

 .accordion .card {
     margin-bottom: .75rem;
     box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
     border-radius: .25rem;
     border: none
 }

 .accordion .card .card-header {
     background-color: transparent;
     border: none;
     padding: 2rem
 }

 .card-header:first-child {
     border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
 }

 .accordion .card .card-header * {
     font-weight: 400;
     font-size: 1rem
 }

 .mb-0,
 .my-0 {
     margin-bottom: 0 !important
 }

 .accordion .card .card-header a {
     display: block;
     color: inherit;
     text-decoration: none;
     font-size: inherit;
     position: relative;
     -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
     -ms-transition: color 0.5s ease;
     -o-transition: color 0.5s ease;
     transition: color 0.5s ease;
     padding-right: 1.5rem
 }

 .accordion .card .card-header * {
     font-weight: 400;
     font-size: 1rem
 }

 .accordion .card .card-header a[aria-expanded="false"]:before {
     content: "\f067"
 }

 .accordion .card .card-header a[aria-expanded="true"]:before {
     content: "\f068"
 }

 .accordion .card .card-header a:before {
     position: absolute;
     right: 7px;
     top: 0;
     font-size: 18px;
     display: block;
     font-family: FontAwesome;
     display: inline-block;
     padding-right: 3px;
     vertical-align: middle;
     font-size: .756em;
     color: #405189
 }

#titulo{
    font-family: sans-serif;
    color: #000000;
    margin-left: 7%;

}

#subtitulo{

    font-family: sans-serif;
    color: #040305;
    margin-left: 10px;  

}

fieldset{
    border: 0px;
}   


input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 5px;
}
.campo label{
    margin-bottom: 0.2em;
    color:#000000;
    display: block;

}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;

}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;

}

.campo input:focus, .campo select:focus, .campo textarea:focus {

    background: #E0E0F8;

}   

.botao{
    
    font-size: 1.2em;
    background: rgb(0, 0, 0);
    border: 0;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.botao:hover{
    background: #000000;
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
    text-shadow: none;
}

#check{
    display: inline-block;
}